In [35]:
from DbConnector import DbConnector
import pandas as pd
import numpy as np

connection = DbConnector()
db_connection = connection.db_connection
cursor = connection.cursor

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('test_db',)
-----------------------------------------------

#### Task 2

In [36]:
"""
1. How many users, activities and trackpoints are there in the dataset (after it is
inserted into the database).
"""

num_users_query = """SELECT COUNT(*) FROM User"""
cursor.execute(num_users_query)
num_users = cursor.fetchone()[0]
print(f'Number of users in the dataset: {num_users}')

num_activities_query = """SELECT COUNT(*) FROM Activity"""
cursor.execute(num_activities_query)
num_activities = cursor.fetchone()[0]
print(f'Number of activities in the dataset: {num_activities}')

num_trackpoints_query = """SELECT COUNT(*) FROM TrackPoint"""
cursor.execute(num_trackpoints_query)
num_trackpoints = cursor.fetchone()[0]
print(f'Number of trackpoints in the dataset: {num_trackpoints}')

Number of users in the dataset: 182
Number of activities in the dataset: 14930
Number of trackpoints in the dataset: 8847815

In [37]:
"""
2. Find the average, maximum and minimum number of trackpoints per user.
"""

avg_max_min_per_user_query = """
SELECT AVG(trackpoint_count), MAX(trackpoint_count), MIN(trackpoint_count)
FROM (
    SELECT A.user_id AS user_id, COUNT(T.id) AS trackpoint_count
    FROM Activity A
    INNER JOIN TrackPoint T ON A.id = T.activity_id
    GROUP BY A.user_id
) AS UserTrackpointCounts
"""

cursor.execute(avg_max_min_per_user_query)
avg_max_min_per_user = cursor.fetchall()
print(f'Average number of trackpoints per user: {avg_max_min_per_user[0][0]}')
print(f'Max number of trackpoints per user: {avg_max_min_per_user[0][1]}')
print(f'Min number of trackpoints per user: {avg_max_min_per_user[0][2]}')

Average number of trackpoints per user: 51143.4393
Max number of trackpoints per user: 927591
Min number of trackpoints per user: 17

In [38]:
"""
3. Find the top 15 users with the highest number of activities.
"""

top15_users_query = """
SELECT U.id, COUNT(A.id) AS ActivityCount
FROM User U
INNER JOIN Activity A ON U.id = A.user_id
GROUP BY U.id
ORDER BY ActivityCount DESC
LIMIT 15;
"""

cursor.execute(top15_users_query)
top15_users = cursor.fetchall()
for users in top15_users:
    print(f'User {users[0]}  \tActivity count {users[1]}')

User 128  	Activity count 2004
User 153  	Activity count 1718
User 25  	Activity count 715
User 163  	Activity count 657
User 62  	Activity count 612
User 144  	Activity count 557
User 41  	Activity count 399
User 4  	Activity count 346
User 140  	Activity count 345
User 17  	Activity count 265
User 3  	Activity count 261
User 68  	Activity count 255
User 14  	Activity count 236
User 167  	Activity count 218
User 30  	Activity count 210

In [39]:
"""
4. Find all users who have taken a bus.
"""

bus_users_query = """
SELECT U.id
FROM User U
INNER JOIN Activity A ON U.id = A.user_id
WHERE A.transportation_mode = "Bus"
GROUP BY U.id
"""

cursor.execute(bus_users_query)
bus_users = cursor.fetchall()
bussers = [user[0] for user in bus_users]
print(f'Bus users:')
for busser in bussers:
    print(busser)

Bus users:
84
85
91
62
52
175
128
73
81
10
92
112
125

In [40]:
"""
5. List the top 10 users by their amount of different transportation modes.
"""

nunique_transportation_mode_query = """
SELECT U.id, COUNT(DISTINCT A.transportation_mode) AS unique_transportation_mode
FROM User U
INNER JOIN Activity A on U.id = A.user_id
GROUP BY U.id
ORDER BY unique_transportation_mode DESC
LIMIT 10
"""

cursor.execute(nunique_transportation_mode_query)
nunique_transportation_mode = cursor.fetchall()

for users in nunique_transportation_mode:
    print(f'User {users[0]}  Transportation mode count {users[1]}')

User 128  Transportation mode count 10
User 62  Transportation mode count 8
User 85  Transportation mode count 5
User 84  Transportation mode count 4
User 81  Transportation mode count 4
User 58  Transportation mode count 4
User 112  Transportation mode count 4
User 163  Transportation mode count 4
User 78  Transportation mode count 4
User 102  Transportation mode count 3

In [41]:
"""
6. Find activities that are registered multiple times. You should find the query even
if it gives zero result.
"""

duplicate_activities_query = """
SELECT user_id, transportation_mode, start_date_time, end_date_time, COUNT(*) AS occurrence_count
FROM Activity
GROUP BY user_id, transportation_mode, start_date_time, end_date_time
HAVING COUNT(*) > 1;
"""

cursor.execute(duplicate_activities_query)
duplicate_activities = cursor.fetchall()
duplicate_activities

[]

In [42]:
"""
7. a) Find the number of users that have started an activity in one day and ended
the activity the next day.
"""

activity_time_query = """
SELECT A.user_id, A.id, A.transportation_mode, A.start_date_time, A.end_date_time
FROM User U
INNER JOIN Activity A ON U.id = A.user_id
WHERE DATE(A.start_date_time) + INTERVAL 1 DAY = DATE(A.end_date_time);
"""

df = pd.read_sql_query(activity_time_query, db_connection)

print(f'Number of users which had activities starting in one day, ending in the next day: {df["user_id"].nunique()}')

"""
7. b) List the transportation mode, user id and duration for these activities
"""

df["time_duration"] = df.end_date_time - df.start_date_time
df[['transportation_mode', 'user_id', 'time_duration']]

C:\Users\Jonatan\AppData\Local\Temp\ipykernel_8608\1765195024.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(activity_time_query, db_connection)

Number of users which had activities starting in one day, ending in the next day: 94

    transportation_mode user_id   time_duration
0                 other       0 0 days 00:10:45
1                 other       0 0 days 01:43:20
2                 other       0 0 days 04:09:15
3                 other       0 0 days 11:03:55
4                 other       0 0 days 16:24:06
..                  ...     ...             ...
927               other      94 0 days 04:23:53
928               other      94 0 days 01:19:02
929               other      94 0 days 01:17:45
930               other      95 0 days 14:33:50
931               other      99 1 days 04:49:19

[932 rows x 3 columns]

In [43]:
"""
8. Find the number of users which have been close to each other in time and space.
Close is defined as the same space (50 meters) and for the same half minute (30
seconds)
"""

proximity_query = """
SELECT A.user_id, A.id, T.date_time, T.lat, T.lon
FROM Activity A
INNER JOIN TrackPoint T ON A.id = T.activity_id
"""

proximity = pd.read_sql_query(proximity_query, db_connection)

proximity['user_id'] = proximity['user_id'].astype(int)

# Sort values based on date_time (timestamps) to get oreceeding user_ids under each other
proximity.sort_values(['date_time'], inplace=True)

# Calculate the Haversine distance between consecutive rows within the same user_id
def haversine(lat1, lon1, lat2, lon2):
    r = 6371000  # Earth radius in meters
    dlat = np.radians(lat2 - lat1)
    dlon = np.radians(lon2 - lon1)
    a = np.sin(dlat / 2) ** 2 + np.cos(np.radians(lat1)) * np.cos(np.radians(lat2)) * np.sin(dlon / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    return r * c

# Callating haversine distance and time difference between each row
proximity['distance'] = haversine(proximity['lat'], proximity['lon'], proximity['lat'].shift(), proximity['lon'].shift())
proximity['time_diff'] = proximity.groupby('user_id')['date_time'].diff()

# Mask for when user_id changes from one value to the next
user_id_changed = proximity['user_id'] != proximity['user_id'].shift()

# Mask for time_diff from one row to the next where time is less than 30 seconds
time_diff_less_than_30s = proximity['time_diff'] <= pd.Timedelta(seconds=30)

# Mask for distance from onerow to the next where the distance is less than 30 seconds
distance_less_than_50m = proximity['distance'] <= 50

time_and_distance_mask = user_id_changed & distance_less_than_50m & time_diff_less_than_30s
time_and_distace = proximity[time_and_distance_mask]
print(f"Number of users that have been close in time and space: {time_and_distace['user_id'].nunique()}")

C:\Users\Jonatan\AppData\Local\Temp\ipykernel_8608\3145516112.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  proximity = pd.read_sql_query(proximity_query, db_connection)

Number of users that have been close in time and space: 100

In [44]:
"""
9. Find the top 15 users who have gained the most altitude meters.
"""

altitude_gainers_query = """
SELECT A.user_id, SUM(gained_altitude_activity) * 0.3048 AS gained_altitude_total
FROM (
    SELECT T.activity_id AS activity_id,
        GREATEST(T.altitude - LAG(T.altitude) OVER (ORDER BY T.id), 0) AS gained_altitude_activity
    FROM TrackPoint T
    WHERE altitude != -777
) AS t
INNER JOIN Activity A ON t.activity_id = A.id
GROUP BY A.user_id
ORDER BY gained_altitude_total DESC
LIMIT 15;
"""

altitude_gainers = pd.read_sql_query(altitude_gainers_query, db_connection)
altitude_gainers

C:\Users\Jonatan\AppData\Local\Temp\ipykernel_8608\1932969132.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  altitude_gainers = pd.read_sql_query(altitude_gainers_query, db_connection)

   user_id  gained_altitude_total
0      128            717755.5368
1      153            652204.3344
2        4            357223.4664
3       41            288473.6928
4      144            271401.5400
5        3            249777.5040
6      163            232424.9352
7       62            190866.9792
8       30            184143.0912
9       39            161405.0112
10      25            157694.0712
11     140            138226.4952
12       0            130581.1968
13       2            128599.9968
14      37            117823.1832

In [45]:
"""
10.Find the users that have traveled the longest total distance in one day for each
transportation mode.
"""

activity_time_query = """
SELECT A.user_id, A.id, A.transportation_mode, A.start_date_time, A.end_date_time, T.lat, T.lon
FROM Activity A
INNER JOIN TrackPoint T ON A.id = T.activity_id
WHERE DATE(A.start_date_time) = DATE(A.end_date_time);
"""

df = pd.read_sql_query(activity_time_query, db_connection)

df.sort_values(by=['user_id', 'id', 'start_date_time'], inplace=True)
grouped = df.groupby(['user_id', 'id', 'transportation_mode'])
result_df = grouped.apply(lambda group: haversine(
    group['lat'].iloc[0],
    group['lon'].iloc[0],
    group['lat'].iloc[-1],
    group['lon'].iloc[-1]
)).reset_index(name='distance')

max_distance_idx = result_df.groupby(['transportation_mode'])['distance'].idxmax()
max_distances = result_df.loc[max_distance_idx, ['user_id', 'transportation_mode', 'distance']].sort_values(by="distance", ascending=False)
max_distances['distance (km)'] = max_distances['distance'] / 1000
max_distances[['user_id', 'transportation_mode', 'distance (km)']]

C:\Users\Jonatan\AppData\Local\Temp\ipykernel_8608\390320282.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(activity_time_query, db_connection)

      user_id transportation_mode  distance (km)
4266      142               other    8688.099985
2914      128            airplane    1082.038388
11731      62               train     255.372514
2342      128                 car     209.088221
3075      128                 bus     146.937713
2532      128                boat      60.613580
1954      128                bike      34.747950
491       108                walk      22.199340
2492      128                taxi      19.953763
2576      128              subway      16.044957
11953      62                 run       0.018189

In [46]:
"""
11.Find all users who have invalid activities, and the number of invalid activities per
# user

An invalid activity is defined as an activity with consecutive trackpoints
 where the timestamps deviate with at least 5 minutes.
"""

invalid_query = """
SELECT user_id, num_invalid_activities, date_time, diff_seconds
FROM (
    SELECT A.user_id, A.id as num_invalid_activities, T.date_time,
        TIMESTAMPDIFF(SECOND, lag(T.date_time) OVER (PARTITION BY T.activity_id ORDER BY T.date_time), T.date_time) AS diff_seconds
    FROM Activity A
    INNER JOIN TrackPoint T ON A.id = T.activity_id
) AS subquery
WHERE diff_seconds > 300;
"""

invalid = pd.read_sql_query(invalid_query, db_connection)
invalid['user_id'] = invalid['user_id'].astype(int)
invalid = invalid.sort_values(by='user_id')
pd.set_option('display.max_rows', None)
display(invalid.groupby(['user_id'])['num_invalid_activities'].nunique().reset_index())
pd.reset_option('display.max_rows')

C:\Users\Jonatan\AppData\Local\Temp\ipykernel_8608\1013595672.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  invalid = pd.read_sql_query(invalid_query, db_connection)

     user_id  num_invalid_activities
0          0                     101
1          1                      45
2          2                      98
3          3                     179
4          4                     219
5          5                      44
6          6                      17
7          7                      30
8          8                      16
9          9                      31
10        10                      29
11        11                      32
12        12                      43
13        13                      29
14        14                     118
15        15                      46
16        16                      20
17        17                     129
18        18                      27
19        19                      31
20        20                      12
21        21                       4
22        22                      55
23        23                      11
24        24                      27
25        25                     263
26        26                      18
27        27                       2
28        28                      36
29        29                      25
30        30                     112
31        31                       3
32        32                      12
33        33                       2
34        34                      88
35        35                      23
36        36                      34
37        37                     100
38        38                      58
39        39                     147
40        40                      17
41        41                     201
42        42                      54
43        43                      21
44        44                      31
45        45                       7
46        46                      13
47        47                       6
48        48                       1
49        50                       8
50        51                      36
51        52                      34
52        53                       2
53        54                       2
54        55                      15
55        56                       4
56        57                      16
57        58                       7
58        59                       5
59        60                       1
60        61                      12
61        62                     213
62        63                       8
63        64                       4
64        65                      22
65        66                       6
66        67                      33
67        68                     123
68        69                       4
69        70                       5
70        71                      27
71        72                       2
72        73                      17
73        74                      19
74        75                       5
75        76                       7
76        77                       3
77        78                      17
78        79                       2
79        80                       3
80        81                      10
81        82                      22
82        83                      15
83        84                      52
84        85                      68
85        86                       4
86        87                       3
87        88                      11
88        89                      34
89        90                       3
90        91                      51
91        92                      96
92        93                       4
93        94                      16
94        95                       4
95        96                      26
96        97                       9
97        98                       1
98        99                      11
99       100                       3
100      101                      46
101      102                       3
102      103                      24
103      104                      97
104      105                       2
105      106                       3
106      108                       3
107      109                       3
108      110                      17
109      111                      25
110      112                      59
111      113                       1
112      114                       2
113      115                      51
114      118                       3
115      119                      22
116      121                       4
117      122                       6
118      123                       3
119      124                       4
120      125                      19
121      126                      69
122      127                       4
123      128                     664
124      129                       4
125      130                       8
126      131                      10
127      132                       3
128      133                       4
129      134                      31
130      135                       5
131      136                       5
132      138                       5
133      139                       5
134      140                      86
135      142                      52
136      144                     153
137      145                       5
138      146                       7
139      147                      30
140      150                      16
141      151                       1
142      152                       2
143      153                     529
144      154                      14
145      155                      30
146      157                       9
147      158                       9
148      159                       5
149      161                       4
150      162                       9
151      163                     208
152      164                       6
153      165                       2
154      166                       2
155      167                      81
156      168                      19
157      169                       9
158      171                       3
159      172                       9
160      173                       5
161      174                      54
162      175                       2
163      176                       8
164      179                      15
165      180                       2
166      181                      14

In [47]:
"""
12.Find all users who have registered transportation_mode and their most used
transportation_mode.
    - The answer should be on format (user_id,most_used_transportation_mode) sorted on user_id.
    - Some users may have the same number of activities tagged with e.g. walk 
    and car. In this case it is up to you to decide which transportation mode
    to include in your answer (choose one)
    - Do not count the rows where the mode is null.
"""

transportation_mode_query = """
SELECT user_id, most_used_transportation_mode, num_mode
FROM (
    SELECT 
        user_id, 
        transportation_mode AS most_used_transportation_mode, 
        COUNT(id) AS num_mode,
        ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY COUNT(id) DESC) AS rnk
    FROM Activity
    WHERE transportation_mode != 'other'
    GROUP BY user_id, transportation_mode
) AS ranked_activities
WHERE rnk = 1
"""

transportation_mode = pd.read_sql_query(transportation_mode_query, db_connection)
transportation_mode['user_id'] = transportation_mode['user_id'].astype(int)
transportation_mode = transportation_mode.sort_values(by='user_id')


pd.set_option('display.max_rows', None)
display(transportation_mode)
pd.reset_option('display.max_rows')

C:\Users\Jonatan\AppData\Local\Temp\ipykernel_8608\2320180187.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  transportation_mode = pd.read_sql_query(transportation_mode_query, db_connection)

    user_id most_used_transportation_mode  num_mode
0        10                          taxi         3
21       20                          bike        79
22       21                          walk         1
23       52                           bus         1
24       56                          bike        15
25       58                           car         2
26       60                          walk         1
27       62                           bus       173
28       64                          bike         1
29       65                          bike        10
30       67                          walk         1
31       69                          bike         1
32       73                          walk        52
33       75                          walk         1
34       76                           car         3
35       78                          walk        37
36       80                          bike         1
37       81                          bike         4
38       82                          walk         2
39       84                          walk         9
40       85                          walk        18
41       86                           car         2
42       87                          walk         5
43       89                           car         7
44       91                          walk         2
45       92                          walk         1
46       97                          bike         9
47       98                          taxi         1
1       101                           car         3
2       102                          bike         7
3       107                          walk         1
4       108                          walk         2
5       111                          taxi         3
6       112                          walk        69
7       115                           car        80
8       117                          walk         1
9       125                          bike         3
10      126                          bike        13
11      128                           car       312
12      136                          walk         3
13      138                          bike         2
14      139                          bike         4
15      144                          walk         2
16      153                          walk         5
17      161                          walk         1
18      163                          bike        26
19      167                          bike        31
20      175                           bus         1